:root {
    --ynmo-green: #15b389;
    --ynmo-dark-green: #116a5b;
    --bg-light: #f0fbf8;
    --text-dark: #333333;
    --text-muted: #888888;
    --border-color: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    background-color: #fff;
    color: var(--text-dark);
    overflow-x: hidden;
    font-size: 16px;
    /* تثبيت الحجم لمنع التكبير العشوائي */
}